<!DOCTYPE html>
<html>

<head>
    <title>Harvest Harmony</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <h1>Harvest Harmony</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; Harvest Harmony</p>
    </footer>
</body>

</html>